.location__image {
  margin: 5rem 12rem;
  border-radius: 50%;
  height: 22rem;
  width: 30rem;
}

.fish__image {
  margin: 5rem;
  border-radius: 50%;
  height: 22rem;
  width: 30rem;
}

.siteLogo {
  height: 8rem;
  width: 13rem;
  border-radius: 50%;
}

.location__name {
  margin: 2rem;
  font-size: 2rem;
}
